In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from datetime import datetime

In [3]:
ROOT_PATH = Path().resolve().parent
dataset_path = ROOT_PATH / "data"
path_list_orders = dataset_path / "List of Orders.csv"
path_order_details = dataset_path / "Order Details.csv"
path_sales_target = dataset_path / "Sales target.csv"

In [4]:
list_orders = pd.read_csv(path_list_orders).dropna()
order_details = pd.read_csv(path_order_details)
sales_target = pd.read_csv(path_sales_target)

In [5]:
sales_target.dtypes

Month of Order Date     object
Category                object
Target                 float64
dtype: object

In [6]:
order_details.dtypes

Order ID         object
Amount          float64
Profit          float64
Quantity          int64
Category         object
Sub-Category     object
dtype: object

In [7]:
sales_target.dtypes

Month of Order Date     object
Category                object
Target                 float64
dtype: object

In [8]:
sales_target["Month of Order Date"] = [
    datetime.strptime(date, "%b-%y").strftime("%d-%m-%Y") 
    for date in sales_target["Month of Order Date"]
    ]

In [9]:
dataset = list_orders.merge(right=order_details, on="Order ID")
dataset = dataset.merge(
    right=sales_target, 
    left_on="Order Date", 
    right_on="Month of Order Date"
    )

dataset = dataset[['Order ID', 'Order Date', 'CustomerName', 'State', 'City', 'Amount',
       'Profit', 'Quantity', 'Category_x', 'Sub-Category', 'Target']]
column_names = ['OrderID', 'OrderDate', 'CustomerName', 'State', 'City', 'Amount',
       'Profit', 'Quantity', 'Category', 'SubCategory', 'Target']

dataset.columns = column_names

In [10]:
dataset.head(5)

,OrderID,OrderDate,CustomerName,State,City,Amount,Profit,Quantity,Category,SubCategory,Target
0,B-25601,01-04-2018,Bharat,Gujarat,Ahmedabad,1275.0,-1148.0,7,Furniture,Bookcases,10400.0
1,B-25601,01-04-2018,Bharat,Gujarat,Ahmedabad,1275.0,-1148.0,7,Furniture,Bookcases,12000.0
2,B-25601,01-04-2018,Bharat,Gujarat,Ahmedabad,1275.0,-1148.0,7,Furniture,Bookcases,9000.0
3,B-25601,01-04-2018,Bharat,Gujarat,Ahmedabad,66.0,-12.0,5,Clothing,Stole,10400.0
4,B-25601,01-04-2018,Bharat,Gujarat,Ahmedabad,66.0,-12.0,5,Clothing,Stole,12000.0